# Requirements needed for development, testing and deployment,
# but not needed in production

# Import production requirements
-r requirements.txt

# Add development requirements below
yaml
wheel
pytest
setuptools
packaging
